* {
  margin: 0 auto;
}

body {
  background-color: #fd8535;
}

.colorbox {
  background-color: rgb(255, 191, 118);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-top: 25px;
}

#harmonies {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  margin-bottom: 80px;
  border: none;
  padding: 5px;
  border-radius: 8px;
}

#colorpicker {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.colorpicker_container {
  margin: 0px 200px 0px 200px;
  background-color: rgb(247, 247, 247);
  padding: 50px 0px 50px 0px;
  border-radius: 15px;
}

#color_label {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.colorpicker_container .hex,
.rgb,
.hsl {
  text-align: center;
  font-family: sans-serif;
}

.harmony_wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

p {
  font-weight: 600;
}
